<h3>Gráfico Doughnut</h3>
<div echarts [options]="doughnutOptions" class="chart"></div>

<fa-icon [icon]="faAngry"></fa-icon>


<h3>Gráfico Icon</h3>
<h5>Evento de click:  {{barValue}}</h5>
<div echarts [options]="optionBar3" class="chart" (chartClick)="onChartEvent($event, 'chartClick')"></div>



<h3>Dados assíncronos: <button (click)="getData()" style="padding: 0.5em;">Get Data</button></h3>
<div echarts [options]="options" [merge]="mergeOption" [loading]="loading" class="chart"></div>


<h3>Gráfico Barras 2</h3>
<div echarts [options]="optionBar2" class="chart"></div>

<h3>Gráfico Duplo</h3>
<div echarts [options]="lateralGraphOption" class="chart"></div>

<h3>Empty Donut legenda</h3>
<div echarts [options]="optionPie" class="chart"></div>

<h3>Empty Donut</h3>
<div echarts [options]="emptyDonutOptions" class="chart"></div>
